<h1>Log In</h1>
<p id='notice'><%= notice %></p>
<%= form_tag :action => 'login' do %>
Username: <%= text_field_tag 'username', @myUser %> </br>
Password: <%= password_field_tag 'password', nil, maxlength: 12 %>  </br>
<%= submit_tag 'Log In' %>
<% end %>

<h4> <%= link_to "Don't have an account?", home_newuser_path %> </h4>

