<h1>New User?</h1>

<p id='notice'><%= notice %></p>
<h2> Create A New Account </h2>
<%= form_tag :action => 'newuser' do %>
Username: <%= text_field_tag 'username', @myUser %> </br>
Email:    <%= email_field_tag 'email', 'email@example.com' %>  </br>
Password: <%= password_field_tag 'password', nil, maxlength: 12 %>  </br>
<%= submit_tag 'Create' %>

<% end %>

